<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <connectionStrings>    
      <add name="connSql" connectionString="Server=MyServer;database=TestDB;Trusted_Connection=TRUE" />
    </connectionStrings>
    <appSettings>
      <add key="sourcePath" value="C:\binary\" />
      
      <add key="newPath" value="C:\Temp\binary\" />
      <add key="PrgmPath" value="C:\myprograms\binary\" />
    </appSettings>
</configuration>
